*.py[cod]
.virtualenv
.DS_Store

# Build artifacts
/*.egg
/*.egg-info
/dist
/build
/eggs
/sdist
/develop-eggs
/.sass-cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.htmlcov
.tox

# Translations
*.mo

# Sphinx
docs/_build

# Generated static files (if any)
/s3ftp/static/styles
/s3ftp/static/scripts/master.js